<?xml version='1.0' encoding='utf-8'?>
<widget id="com.upvs.tinuten" version="1.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
 <name>UPVS</name>

  <description>
     ULTIMATE POWER VENDING SYSTEM
  </description>
 
  <author href="https://tinuten.org" email="support@tinuten.com">
      OLUMIDE OGUNDELE FRANCIS
  </author>
 
 
 <preference name="permissions" value="none" />
	<preference name="android-build-tool" value="gradle" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="false" />
    <preference name="disallowOverscroll" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
	<preference name="ErrorUrl" value="index.html" />
<preference name="KeepRunning" value="true"/>.
	<preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="10" />
    <preference name="android-targetSdkVersion" value="26" />
    <preference name="android-installLocation" value="auto" />
	
	
	
	<plugin name="cordova-plugin-geolocation"  spec="0.3.12" source="npm"/>
<plugin name="cordova-plugin-network-information"  spec="0.2.15" source="npm" />
 <gap:plugin name="cordova-plugin-vibration" source="npm" version="2.1.1" />
 <plugin name="cordova-plugin-inappbrowser" source="npm"/>
 
<icon platform="ios" height="60" width="60" src="res/icons/ios/icon-60.png" />
<icon platform="ios" height="120" width="120" src="res/icons/ios/icon-60-2x.png" />
<icon platform="ios" height="180" width="180" src="res/icons/ios/icon-60-3x.png" />
<icon platform="ios" height="76" width="76" src="res/icons/ios/icon-76.png" />
<icon platform="ios" height="152" width="152" src="res/icons/ios/icon-76-2x.png" />
<icon platform="ios" height="40" width="40" src="res/icons/ios/icon-40.png" />
<icon platform="ios" height="80" width="80" src="res/icons/ios/icon-40-2x.png" />
<icon platform="ios" height="57" width="57" src="res/icons/ios/icon-57.png" />
<icon platform="ios" height="114" width="114" src="res/icons/ios/icon-57-2x.png" />
<icon platform="ios" height="72" width="72" src="res/icons/ios/icon-72.png" />
<icon platform="ios" height="144" width="144" src="res/icons/ios/icon-72-2x.png" />
<icon platform="ios" height="29" width="29" src="res/icons/ios/icon-small.png" />
<icon platform="ios" height="58" width="58" src="res/icons/ios/icon-small-2x.png" />
<icon platform="ios" height="50" width="50" src="res/icons/ios/icon-50.png" />
<icon platform="ios" height="100" width="100" src="res/icons/ios/icon-50-2x.png" />

<icon platform="android" qualifier="ldpi" src="res/icons/android/icon-36-ldpi.png" />
<icon platform="android" qualifier="mdpi" src="res/icons/android/icon-48-mdpi.png" />
<icon platform="android" qualifier="hdpi" src="res/icons/android/icon-72-hdpi.png" />
<icon platform="android" qualifier="xhdpi" src="res/icons/android/icon-96-xhdpi.png" />
<icon platform="android" qualifier="xxhdpi" src="res/icons/android/icon-144-xxhdpi.png" />
<icon platform="android" qualifier="xxxhdpi" src="res/icons/android/icon-192-xxxhdpi.png" />
 
 
 <gap:plugin name="cordova-plugin-camera" spec="0.3.6" source="npm" />
  <gap:plugin name="cordova-plugin-media-capture" spec="1.0.1" source="npm" />
  <gap:plugin name="cordova-plugin-device" source="npm" />
  <gap:plugin name="cordova-plugin-device-orientation" source="npm" />
  <gap:plugin name="cordova-plugin-device-motion" source="npm" />
  <gap:plugin name="cordova-plugin-file" source="npm" />
  <gap:plugin name="cordova-plugin-file" source="npm" />
  <gap:plugin name="cordova-plugin-file-transfer" source="npm" />
  <gap:plugin name="cordova-plugin-media" spec="0.2.16" source="npm" />
  <gap:plugin name="cordova-plugin-inappbrowser"  source="npm" />
  <gap:plugin name="cordova-plugin-globalization"  source="npm"/>
  <gap:plugin name="cordova-plugin-dialogs" source="npm" />
  <gap:plugin name="org.apache.cordova.splashscreen" source="npm" />
  <gap:plugin name="cordova-plugin-vibration" spec="1.2.0" source="npm" />
  
  <gap:plugin name="com.sharinglabs.cordova.plugin.cache" spec="1.0.0" source="pgb" />
  <gap:plugin name="org.apache.cordova.statusbar" spec="0.1.4" source="pgb" />
  <access origin="*" browserOnly="true" />
  <allow-navigation href="*" />
  <allow-intent href="*" />
 
</widget>
